$base-color-blue: #3414AC;
$base-color-yellow: #FACD00;
$white: #FFFFFF;
$black: #000000;
$green: #009A00;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
$base-font: 'JetBrains Mono', monospace;
$weight-semiBold: 600;

$gradient-for-border: linear-gradient(
    180deg, 
    rgba(52, 20, 172, 1) 0%,
    rgba(250, 205, 0, 1) 100%
);

$border-radius-base: 20px;
$border-radius-circle: 50px;
$border-white-bigger: 10px solid $white;
$border-white-smaller: 5px solid $white;

$font-size-24: 1em;
$font-size-64: 4em;
$font-size-16: .5em;
$font-size-36: 1.5em;
$font-size-48: 3em;

$back-image: '../../components/vendor/images/back.png';
$lupa: '../../components/images/lupa.svg';