@import './variables';
@import './mixins';

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 24px;
    color: black;
}

body{
    font-family: $base-font;
    @include BGbody;
}

a{
    text-decoration: none;
}